.banner {
  height: calc(100vh - 113.6px);
  background: linear-gradient(rgba(124, 106, 70, 0.5), rgba(124, 106, 70, 0.5)),
    url('../assets/banner.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container {
  text-align: center;
  max-width: 700px;
  text-transform: capitalize;
  display: grid;
  gap: 2rem;
}

.banner .container h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner .container p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
